@model Survey.ViewModels.WelcomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<style type="text/css">
    table {
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid black;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Model.Message
        <br>@Html.LabelFor(model => model.Date);
    </div>
    @Html.LabelFor(model => model.Restaurant.Name)
    @Html.TextBoxFor(model => model.Restaurant.Name, new { style = "color:red" })
    @Html.LabelFor(model => model.Restaurant.PhoneNumber)
    @Html.TextBoxFor(model => model.Restaurant.PhoneNumber)
    <input type="submit" value="Envoyer" />
    <div>
        @Html.DropDownList("RestoList", (SelectList)ViewBag.RestoList)
    </div>
    <div>
        @using (Html.BeginForm("Index", "Welcome", FormMethod.Post, new { target = "_blank" }))
        {
            @Html.Label("hasLegalAge", "Select if you reached legal age ")
            @Html.CheckBox("hasLegalAge")
            <input type="submit" value="Send" />
        }
    </div>
    <div style="width:300px">
        @Html.Partial("Connection", Model)
    </div>
    <div>
        @Html.Action("DisplayRestaurantsList")
    </div>
</body>
</html>
